<!DOCTYPE html>
<!-- HTML file for Homepage of ITIS 3135 Project -->
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Class Grade Calculator</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="icon" type="image/x-icon" href="https://my.uncc.edu/sites/all/themes/custom/my_unc_charlotte/favicon.ico"/>
</head>

<body>
<header>

</header>
<main>
    <div class="content">
        <h1 class="titleText">Class Grade Calculator</h1>
        <p id="intro">
            Please sign-up to use the calculator. If you already have an account, click the login page button.
        </p>
        <div class="formDiv">
            <form id="studentInfo" name="studentInfo">
                <p class="fieldTitle">Student Name:</p>
                <input class="inputField" required %= form.text_field :studentName %>
                <p class="fieldTitle">Email:</p>
                <input class="inputField" required %= form.text_field :email %>
                <p class="fieldTitle">Password:</p>
                <input class="inputField" required %= form.password_field :password %>
                <p class="fieldTitle">School Name:</p>
                <input class="schoolNameField" required %= form.text_field :schoolName %>
                <br><br>
                <input class="submitButton" value="Sign-Up" %= form.submit %>
                &nbsp; &nbsp;
                <%= link_to 'Login Page', login_loginPage_path, :class=> "otherButton" %>
            </form>
        </div>
        <div>
            <img id="studyingPicture" src="https://img.freepik.com/free-photo/education-concept-student-studying-brainstorming-campus-concept-close-up-students-discussing-their-subject-books-textbooks-selective-focus_1418-627.jpg?size=626&ext=jpg" alt="Studying Picture">
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2019 Team Two<br>
        ITSC 3155 Class Project</p>
</footer>

</body>
</html>

<% end %>
