<!DOCTYPE html>
<!-- HTML file for Homepage of ITIS 3135 Project -->

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Class Grade Calculator</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
</head>

<body>
<header>

</header>

<main>
    <div class="content">
        <h1 class="titleText">Class Grade Calculator</h1>
        <p id="intro">
            Please sign-up to use the calculator. If you already have an account, click the login page button.
        </p>
        <div class="formDiv">
            <form id="studentInfo" name="studentInfo">
                <p class="fieldTitle">Student Name:</p>
                <input class="inputField" type="text" name="studentNameInput" required>
                <p class="fieldTitle">Email:</p>
                <input class="inputField" type="email" name="emailInput" required>
                <p class="fieldTitle">Password:</p>
                <input class="inputField" type="password" name="passwordInput" required>
                <p class="fieldTitle">School Name:</p>
                <input class="schoolNameField" type="text" name="schoolNameInput" required>
                <br><br>
                <input class="submitButton" type="submit" value="Sign-Up">
                &nbsp; &nbsp;
                <a class="otherButton" href="webpages/loginPage.html">Login Page</a>
            </form>
        </div>
        <div>
            <img id="studyingPicture" src="images/studying.jpg" alt="Studying Picture">
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2019 Team Two<br>
        ITSC 3155 Class Project</p>
</footer>

</body>
</html>