// Place all the styles related to the Calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topright {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px;
  color: #006600;
  text-align: right;
}

