/* CSS for ITSC 3155 Project */

/* styling for Title Text on desktop */
@media screen and (min-width: 1051px) {
    .titleText {
        color: #EEEEEE;
        font-family: "Source Sans Pro", helvetica, arial, sans-serif;
        font-size: 42px;
        margin-left: -30px;
        margin-bottom: -10px;
        text-shadow: 2px 2px 4px #000000;
    }
}

/* styling title text smaller devices */
@media screen and (max-width: 1050px) {
    .titleText {
        color: #EEEEEE;
        font-family: "Source Sans Pro", helvetica, arial, sans-serif;
        font-size: 42px;
        margin-bottom: -10px;
        padding-top: 50px;
        text-shadow: 2px 2px 4px #000000;
    }
}

/* styling for intro paragraph */
#intro {
    font-size: 24px;
    color: #EEEEEE;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px #000000;
}

/* styling for subheadings on desktop */
@media screen and (min-width: 1051px) {
    .subheading {
        color: #006600;
        font-family: "Source Sans Pro", helvetica, arial, sans-serif;
        font-size: 30px;
        margin-left: -30px;
    }
}

/* styling for subheadings on smaller devices */
@media screen and (max-width: 1050px) {
    .subheading {
        color: #006600;
        font-family: "Source Sans Pro", helvetica, arial, sans-serif;
        font-size: 30px;
    }

}

/* styling for description paragraphs */
.description {
    font-size: 18px;
    color: #0D0D0D;
    line-height: 1.5em;
}

/* styling to center the content of the page */
@media screen and (min-width: 1051px) {
    .content {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        min-height: 100%;
        margin-bottom: -50px;
    }
}

/* styling content for smaller devices */
@media screen and (max-width: 1050px) {
    .content {
        margin-left: 10px;
        margin-right: 10px;
        min-height: 100%;
        margin-bottom: -50px;
    }
}

/* styling for the body */
body {
    font-size: 16px;
    font-family: "Source Sans Pro", helvetica, arial, sans-serif;
    background-color: white;
    overflow-x: hidden;
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}

/* styling for the input boxes */
.inputField {
    width: 250px;
    font-size: 16px;
    border-style: none;
    padding-left: 3px;
    box-shadow: 2px 2px 4px #000000;
}

/* styling for the school name input box */
.schoolNameField {
    width: 320px;
    font-size: 16px;
    border-style: none;
    padding-left: 3px;
    box-shadow: 2px 2px 4px #000000;
}

/* styling for submit button */
.submitButton {
    background-color: #006600;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 4px;
    width: 80px;
    text-decoration: none;
    -webkit-appearance: none;
}

/* styling for submit button on hover */
.submitButton:hover {
    background-color: mediumseagreen;
}

/* styling for logout button */
.logoutButton {
    text-decoration: none;
    background-color: yellowgreen;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4.35px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80px;
    -webkit-appearance: none;
}

/* styling for other button on hover */
.logoutButton:hover {
    background-color: mediumseagreen;
}


/* styling for input field titles  */
.fieldTitle {
    font-size: 18px;
    color: white;
    margin-bottom: 4px;
}

#studyingPicture_signup {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
    padding-top: 50px;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
}

#studyingPicture_login {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
    padding-top: 10px;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
}

/* styling for forms on homepage and login page */
.formDiv {
    float: left;
    margin-right: 75px;
}

.calcDiv {
    text-align: center;
   
    margin-top: -10px;
}

#assignments {
    display: inline-block;
    float: left;
    width: 150px;
}

#assignments input {
    width: 150px;
    font-size: 16px;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
    padding-left: 3px;
    margin-top: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 751px) {
    #grades {
        display: inline-block;
        width: 150px;
    }
}

@media screen and (max-width: 750px) {
    #grades {
        display: block;
        width: 150px;
    }
}

#grades input {
    width: 75px;
    font-size: 16px;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
    padding-left: 3px;
    margin-top: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 751px) {
    #weights {
        display: inline-block;
        width: 150px;
    }
}

@media screen and (max-width: 750px) {
    #weights {
        display: block;
        width: 150px;
    }
}

#weights input {
    width: 75px;
    font-size: 16px;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
    padding-left: 3px;
    margin-top: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.columnTitle {
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
}

@media screen and (min-width: 751px) {
    #buttonDiv {
        padding-top: 13px;
        float: left;
    }
}

@media screen and (max-width: 750px) {
    #buttonDiv {
        clear: both;
        padding-top: 13px;
    }
}

#resultsDiv {
    text-align: center;
    display: inline-block;
}

#resultsTitle {
    color: #EEEEEE;
    font-size: 30px;
    text-shadow: 1px 1px 2px #000000;
    display: inline-block;
}

#gradeResult {
    font-size: 20px;
}

#leftSide {
    float: left;
    width: 55%;
}

#leftSideTable {
    float: left;
    width: 100%;
    padding-top: 30px;
}

@-moz-document url-prefix() {
    a.showLogButton {
        background-color: #006600;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 16px;
        padding-top: 5.5px;
        padding-bottom: 4.18px;
        padding-left: 4px;
        padding-right: 4px;
        width: 80px;
        text-decoration: none;
        -webkit-appearance: none;
    }
}

.showLogButton {
    background-color: #006600;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4.20px;
    padding-left: 4px;
    padding-right: 4px;
    width: 80px;
    text-decoration: none;
    -webkit-appearance: none;
}

/* styling for submit button on hover */
.showLogButton:hover {
    background-color: mediumseagreen;
}

/* styling for buttons on FF */
@-moz-document url-prefix() {
    .otherButton {
        background-color: #006600;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 16px;
        padding-top: 5.4px !important;
        padding-bottom: 4.2px !important;
        padding-left: 10px;
        padding-right: 10px;
        width: 80px;
        text-decoration: none;
        -webkit-appearance: none;
    }
}

.otherButton {
    background-color: #006600;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding-top: 4.5px;
    padding-bottom: 4.75px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    text-decoration: none;
    -webkit-appearance: none;
}

/* styling for submit button on hover */
.otherButton:hover {
    background-color: mediumseagreen;
}

a.backButton {
    background-color: #006600;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding-top: 4.5px;
    padding-bottom: 4.75px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    text-decoration: none;
    position: relative;
    top: 30px;
    -webkit-appearance: none;
}





