<!DOCTYPE html>
<!-- HTML file for Homepage of ITIS 3135 Project -->

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Class Grade Calculator</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <link rel="icon" type="image/x-icon" href="https://my.uncc.edu/sites/all/themes/custom/my_unc_charlotte/favicon.ico"/>
</head>

<body>
<header>

</header>

<main>
    <div class="content">
        <h1 class="titleText">Class Grade Calculator</h1>
        <p id="intro">
            Please sign-up to use the calculator. If you already have an account, click the login page button.
        </p>
        <div class="formDiv">
            <form class="studentInfo" name="studentInfo" action="#">
                <p class="fieldTitle">Email:</p>
                <input class="inputField" type="email" name="emailInput" required>
                <p class="fieldTitle">Password:</p>
                <input class="inputField" type="password" name="passwordInput" minlength="8" required>
                <br><br>
                <input class="submitButton" type="submit" value="Login">
            </form>
        </div>
        <div>
            <img id="studyingPicture" src="https://img.freepik.com/free-photo/education-concept-student-studying-brainstorming-campus-concept-close-up-students-discussing-their-subject-books-textbooks-selective-focus_1418-627.jpg?size=626&ext=jpg" alt="Studying Picture" width="400px">
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2019 Team Two<br>
        ITSC 3155 Class Project</p>
</footer>

</body>
</html>