<!DOCTYPE html>
<!-- HTML file for Homepage of ITIS 3135 Project -->

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Class Grade Calculator</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <link rel="icon" type="image/x-icon" href="https://my.uncc.edu/sites/all/themes/custom/my_unc_charlotte/favicon.ico"/>
    <script src="../scripts/main.js"></script>
</head>

<body>
<header>

</header>

<main>
    <div class="content">
        <h1 class="titleText">Class Grade Calculator</h1>
        <div class="topright">
            <%= link_to 'Log Out', logout_path(User.find(session[:user_id])), :class=> "logoutButton", :method=>"delete", :data=> { confirm: 'Are you sure?' } %>
            <p>Hello, <%=User.find(session[:user_id]).studentName %>!!<br>
            <%=User.find(session[:user_id]).schoolName %></p>
        </div>
        <p id="intro">
            Enter your current grades for the different types of assignments, along with the weights that each of the
            assignments have. Your calculated final grade will be on the right.
        </p>
        
        <form class="studentInfo" name="gradeInfo" action="javascript:validate();">
            <div class="calcDiv">
                 
                
                
                <div id="assignments">
                    <p class="columnTitle">Assignment</p>
                    <input type="text" name="assignment1" required placeholder="Tests">
                    <input type="text" name="assignment2">
                    <input type="text" name="assignment3">
                    <input type="text" name="assignment4">
                    <input type="text" name="assignment5">
                    <input type="text" name="assignment6">
                    <input type="text" name="assignment7">
                    <input type="text" name="assignment8">
                    <input type="text" name="assignment9">
                    <input type="text" name="assignment10">
                </div>
                <div id="grades">
                    <p class="columnTitle">Grade (%)</p>
                    <input type="number" name="grade1" step="any" required placeholder="100" min="0" max="200">
                    <input type="number" name="grade2" step="any" min="0" max="200">
                    <input type="number" name="grade3" step="any" min="0" max="200">
                    <input type="number" name="grade4" step="any" min="0" max="200">
                    <input type="number" name="grade5" step="any" min="0" max="200">
                    <input type="number" name="grade6" step="any" min="0" max="200">
                    <input type="number" name="grade7" step="any" min="0" max="200">
                    <input type="number" name="grade8" step="any" min="0" max="200">
                    <input type="number" name="grade9" step="any" min="0" max="200">
                    <input type="number" name="grade10" step="any" min="0" max="200">

                </div>
                <div id="weights">
                    <p class="columnTitle">Weight (%)</p>
                    <input type="number" name="weight1" step="any" required placeholder="40">
                    <input type="number" name="weight2" step="any" min="0" max="100">
                    <input type="number" name="weight3" step="any" min="0" max="100">
                    <input type="number" name="weight4" step="any" min="0" max="100">
                    <input type="number" name="weight5" step="any" min="0" max="100">
                    <input type="number" name="weight6" step="any" min="0" max="100">
                    <input type="number" name="weight7" step="any" min="0" max="100">
                    <input type="number" name="weight8" step="any" min="0" max="100">
                    <input type="number" name="weight9" step="any" min="0" max="100">
                    <input type="number" name="weight10" step="any" min="0" max="100">
                </div>
            </div>
            <div id="resultsDiv">
                <p id="resultsTitle">Results</p>
                <div id="gradeResult"></div>
            </div>
            <div id="buttonDiv">
                <input class="submitButton" type="submit" value="Calculate">
                &nbsp;or&nbsp;
                <input class="submitButton" type="reset" value="Clear" onClick="window.location.reload();">
            </div>
        </form>
    </div>
</main>

</body>
</html>